/*Import the "poppins" font family, used on line 36*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CSS Variables for colors*/
:root
{
  --base: #1e1e2e;
  --surface0: #313244;
  --text: #cdd6f4;
  --subtext1: #a6adc8;
  --mantle: #181825;
  --mauve: #cba6f7;
  --crust: #11111b;
  --lavender: #b4befe;
  --surface2: #585b70;
}

/*Random shit that somehow makes it work*/
html, body
{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

}

/*Style the bio content div and the FloatingSection div inside of it. It's best to use practices like this to prevent css importing on sites where they aren't meant to*/
.BioContent
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: var(--text);
  font-family: "Poppins";
  background-color: var(--crust);

  .FloatingSection
  {
    padding: 1vh;
    margin: 2vh;
    background-color: var(--mantle);
    border-radius: 2vh;
  }
}